  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <h3 class="center-align" id= "brand-logo">ResuméBox</h3>
          <div class="input-field nav-search-input grey darken-3">
            <label for="search-bar" id="search-label">Search</label>
            <input id="search-bar" type="text" class="validate">
          </div>
      </div>
    </nav>
  </div>
